<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rekisteröidy</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Rekisteröidy</h2>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${success}" style="color: green;">
        <p th:text="${success}"></p>
    </div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" th:field="*{username}" />
            <span th:errors="*{username}" style="color: red;"></span>
        </div>
        <div>
            <label for="password">Salasana:</label>
            <input type="password" id="password" th:field="*{password}" />
            <span th:errors="*{password}" style="color: red;"></span>
        </div>
        <button type="submit">Rekisteröidy</button>
    </form>
</body>
</html>